@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link rel="stylesheet" href="/css/contato.css">
</head>

<body>
      <div class="meioContato">
        <div class="formulario">
          <form action=""><b>Entre em contato conosco</b></form>
          <label for="nome">Nome</label>
          <input type="text" name="nome">
          <label for="email">Email</label>
          <input type="email" name="email">
          <label for="telefone">Telefone</label>
          <input type="text" name="telefone">
          <label for="caixatexto">Deixe uma mensagem</label>
          <textarea name="caixatexto" id="caixaMensagem" cols="40" rows="10"></textarea>
          <button class="botao">Enviar</button>
        </div>
        <div>
          <img src="/imagens/undraw_Forms_re_pkrt.png" alt="" style="width: 80%;" class="imagem"> 
        </div>
      </div>

</body>